{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
<link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="card">
            <div class="row g-0">
                <!-- Illustration Section -->
                <div class="col-md-6">
                    <div class="illustration-section">
                        <img src="{% static 'images/otp.gif' %}" alt="Login illustration" class="login_img">
                    </div>
                </div>
                
                <!-- Form Section -->
                <div class="col-md-6">
                    <div class="card-body p-4">
                        <h1>OTP</h1>
                        <p class="subtitle">Enter your OTP</p>
                        <!-- otp_form.html -->
                        <form method="POST">
                            {% csrf_token %}

                            <div class="mb-3">
                                <input type="text" name="otp"  maxlength='6' class="form-control" placeholder="enter your OTP" required>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            <button type="submit" class="btn btn-login w-100">Verify OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
